---
const { href, icon, text } = Astro.props
---

<a
  href={href}
  class='border-#AAA hover:bg-#18191B flex items-center gap-2 rounded border p-2 px-4 transition'
  target='_blank'
>
  <div class:list={[icon, 'text-5']}></div>
  <span>{text}</span>
</a>
